.app {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

.title {
  text-align: center;
}

.github {
  width: 30px
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.example-item {
  text-align: center;
}

.pie {
  display: inline-block;
  width: 200px;
}
